# Dependencies
node_modules/
**/node_modules/
**/dist/
**/coverage/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Runtime
*.log
apps/service-a/storage/*
!apps/service-a/storage/.gitkeep
apps/service-a/uploads/*
!apps/service-a/uploads/.gitkeep
