# Dependencies
node_modules/
**/node_modules/
**/dist/
**/coverage/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Runtime
*.log
apps/ingest-service/storage/*
!apps/ingest-service/storage/.gitkeep
apps/ingest-service/uploads/*
!apps/ingest-service/uploads/.gitkeep
